@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Secular+One&family=Share+Tech+Mono&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  background: #161623;
  font-family: 'Inconsolata', monospace;
  line-height: 1.2;
  position: relative;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Secular One', sans-serif;
  }

  a {
    background-color: #fff;
    color: #161623;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    border: 1px solid;
    border-color: transparent;
  }
  a:hover {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
  }
  ul {
    margin-inline-start: 1.5rem;
    margin-block-start: 1rem;
  }

  code {
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    display: block;
    background-color: #ffffff59;
    font-family: 'Share Tech Mono', monospace;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00, #f0f);
    clip-path: circle(30% at right 70%);
    z-index: -1;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3, #e91e63);
    clip-path: circle(20% at 10% 10%);
    z-index: -1;
  }
  .main-container {
    width: 100%;
    height: 100%;
    padding: 1rem 2rem;
    backdrop-filter: blur(10px);
    color: #fff;

    .title {
      margin-bottom: 1.5rem;

      h1 {
        text-decoration: underline;
        text-align: center;
      }

      p {
        max-width: 500px;
        margin: 0 auto;
        text-align: center;
      }
    }

    .content {
      fieldset {
        padding: 1rem 2rem;
        margin: 1.5rem 0;

        legend {
          h2 {
            margin: 0 10px;
          }
        }
      }
    }
  }
}
